{
  "plugins": [
    "react",
    "mocha",
    "standard",
    "promise"
  ],
  "extends": [
    "standard",
    // "eslint:recommended",
    "plugin:react/recommended", //paired with plugins: ["react"]
  ],
  "parser": "babel-eslint", // without parser specified, I just get import is not defined
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "classes": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "jquery": true,
    "mocha": true,
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "mocha/no-exclusive-tests": 1,
    "no-debugger": 1,
    "no-console": 1,
    "no-case-declarations": 0,
    "no-var": 1,
    "array-bracket-spacing": [1, "always"], // space inside brackets
    "object-curly-spacing": [1, "always"], // I like space inside braces
    "comma-dangle": [1, "always"], // I like commas at the end
    "react/jsx-no-duplicate-props": 1,
    "react/prop-types": 0,
    "react/no-find-dom-node": 1,
    "react/react-in-jsx-scope": 2,

   // -- standard style config --

   "accessor-pairs": "warn",
    "arrow-spacing": ["warn", { "before": true, "after": true }],
    "block-spacing": ["warn", "always"],
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "camelcase": ["warn", { "properties": "never" }],
    // "comma-dangle": ["warn", "never"],
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "comma-style": ["warn", "last"],
    "constructor-super": "warn",
    "curly": ["warn", "multi-line"],
    "dot-location": ["warn", "property"],
    "eol-last": "warn",
    "eqeqeq": ["warn", "always", { "null": "ignore" }],
    "func-call-spacing": ["warn", "never"],
    "generator-star-spacing": ["warn", { "before": true, "after": true }],
    "handle-callback-err": ["warn", "^(err|warning)$" ],
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "key-spacing": ["warn", { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": ["warn", { "before": true, "after": true }],
    "new-cap": ["warn", { "newIsCap": true, "capIsNew": false }],
    "new-parens": "warn",
    "no-array-constructor": "warn",
    "no-caller": "warn",
    "no-class-assign": "warn",
    "no-cond-assign": "warn",
    "no-const-assign": "warn",
    "no-constant-condition": ["warn", { "checkLoops": false }],
    "no-control-regex": "warn",
    "no-delete-var": "warn",
    "no-dupe-args": "warn",
    "no-dupe-class-members": "warn",
    "no-dupe-keys": "warn",
    "no-duplicate-case": "warn",
    "no-duplicate-imports": "warn",
    "no-empty-character-class": "warn",
    "no-empty-pattern": "warn",
    "no-eval": "warn",
    "no-ex-assign": "warn",
    "no-extend-native": "warn",
    "no-extra-bind": "warn",
    "no-extra-boolean-cast": "warn",
    "no-extra-label": "warn",
    "no-extra-parens": ["warn", "functions"],
    "no-fallthrough": "warn",
    "no-floating-decimal": "warn",
    "no-func-assign": "warn",
    "no-global-assign": "warn",
    "no-implied-eval": "warn",
    "no-inner-declarations": ["warn", "functions"],
    "no-invalid-regexp": "warn",
    "no-irregular-whitespace": "warn",
    "no-iterator": "warn",
    "no-label-var": "warn",
    "no-labels": ["warn", { "allowLoop": false, "allowSwitch": false }],
    "no-lone-blocks": "warn",
    "no-mixed-operators": ["warn", {
      "groups": [
        ["+", "-", "*", "/", "%", "**"],
        ["==", "!=", "===", "!==", ">", ">=", "<", "<="],
        ["&&", "||"],
        ["in", "instanceof"]
      ],
      "allowSamePrecedence": true
    }],
    "no-mixed-spaces-and-tabs": "warn",
    "no-multi-spaces": "warn",
    "no-multi-str": "warn",
    "no-multiple-empty-lines": ["warn", { "max": 1, "maxEOF": 0 }],
    "no-negated-in-lhs": "warn",
    "no-new": "warn",
    "no-new-func": "warn",
    "no-new-object": "warn",
    "no-new-require": "warn",
    "no-new-symbol": "warn",
    "no-new-wrappers": "warn",
    "no-obj-calls": "warn",
    "no-octal": "warn",
    "no-octal-escape": "warn",
    "no-path-concat": "warn",
    "no-proto": "warn",
    "no-redeclare": "warn",
    "no-regex-spaces": "warn",
    "no-return-assign": ["warn", "except-parens"],
    "no-self-assign": "warn",
    "no-self-compare": "warn",
    "no-sequences": "warn",
    "no-shadow-restricted-names": "warn",
    "no-sparse-arrays": "warn",
    "no-tabs": "warn",
    "no-template-curly-in-string": "warn",
    "no-this-before-super": "warn",
    "no-throw-literal": "warn",
    "no-trailing-spaces": "warn",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-unexpected-multiline": "warn",
    "no-unmodified-loop-condition": "warn",
    "no-unneeded-ternary": ["warn", { "defaultAssignment": false }],
    "no-unreachable": "warn",
    "no-unsafe-finally": "warn",
    "no-unsafe-negation": "warn",
    "no-unused-expressions": ["warn", { "allowShortCircuit": true, "allowTernary": true }],
    "no-unused-vars": "warn",
    "no-use-before-define": ["warn", { "functions": false, "classes": false, "variables": false }],
    "no-useless-call": "warn",
    "no-useless-computed-key": "warn",
    "no-useless-constructor": "warn",
    "no-useless-escape": "warn",
    "no-useless-rename": "warn",
    "no-useless-return": "warn",
    "no-whitespace-before-property": "warn",
    "no-with": "warn",
    "object-property-newline": ["warn", { "allowMultiplePropertiesPerLine": true }],
    "one-var": ["warn", { "initialized": "never" }],
    "operator-linebreak": ["warn", "after", { "overrides": { "?": "before", ":": "before" } }],
    "padded-blocks": ["warn", { "blocks": "never", "switches": "never", "classes": "never" }],
    "quotes": ["warn", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "rest-spread-spacing": ["warn", "never"],
    "semi": ["warn", "never"],
    "semi-spacing": ["warn", { "before": false, "after": true }],
    "space-before-blocks": ["warn", "always"],
    "space-before-function-paren": ["warn", "always"],
    "space-in-parens": ["warn", "never"],
    "space-infix-ops": "warn",
    "space-unary-ops": ["warn", { "words": true, "nonwords": false }],
    "spaced-comment": ["warn", "always", {
      "line": { "markers": ["*package", "!", "/", ","] },
      "block": { "balanced": true, "markers": ["*package", "!", ",", ":", "::", "flow-include"], "exceptions": ["*"] }
    }],
    "symbol-description": "warn",

    "template-curly-spacing": ["warn", "never"],
    "template-tag-spacing": ["warn", "never"],
    "unicode-bom": ["warn", "never"],
    "use-isnan": "warn",
    "valid-typeof": ["warn", { "requireStringLiterals": true }],
    "wrap-iife": ["warn", "any", { "functionPrototypeMethods": true }],
    "yield-star-spacing": ["warn", "both"],
    "yoda": ["warn", "never"],
    "standard/object-curly-even-spacing": [0, "either"], // overriding this
    "standard/array-bracket-even-spacing": ["warn", "either"],
    "standard/computed-property-even-spacing": ["warn", "even"],
    "promise/param-names": "warn"
    // --- end standard style config ---
  }
}

/*
// 0 = off, 1=error, 2=warn
react/display-name
react/jsx-no-duplicate-props
react/jsx-no-undef
react/jsx-uses-react
react/jsx-uses-vars
react/no-deprecated
react/no-direct-mutation-state
react/no-find-dom-node
react/no-is-mounted
react/no-unknown-property
react/prop-types
react/react-in-jsx-scope
react/require-render-return
*/
